<style>
    label {
        width: 100px; 
        display: inline-block;
    }

    input[type=text] {
        width: 500px;
    }

    .info {
        border:1px solid black;
        background-color: aquamarine;
        padding: 1em;
    }

    form {
        border:1px solid black;
        background-color: cornsilk;
        padding: 1em;
    }
</style>

<form method="post" action="">

    <label for="id">id:</label>
    <input type="text" name="id" id="id" value="<%=obs.id %>" readonly>
    <br />
    <label for="condition">condition</label>
    <input type="text" name="condition" id="condition" value="<%= obs.condition %>">
    <br />
    <label>action</label>

    <!-- <% if (action == 'update') { %>
        <input type="submit" value="update">
    <% } else { %>
        <input type="submit" value="create">
    <% } %> -->

    <input type="submit" value="<%= action %>">

</form>

<% if (action == 'update') { %>
    <div class="info">
        Denne forudfyldte formular er starten på Read i C<em>R</em>UD, 
        når du trykker på update, udføres Read i CR<em>U</em>D
    </div>    
<% } else if (action == 'create') { %>
    <div class="info">
        Denne tomme formular er staten på Create i <em>C</em>RUD
    </div> 
<% } else if (action == 'delete') { %>
    <div class="info">
        Denne forudfyldte formular er staten på Delete i CRU<em>D</em>
    </div> 
<% } %>