<div>
    <a href="/weather/new">new observation</a>
    <!-- output list -->
    <% obs.forEach(ob => { %>
    <p><%= ob.condition %> <a href="/weather/edit?id=<%= ob.id %>">edit</a> <a href="/weather/delete?id=<%= ob.id %>">delete</a> </p>
    <% }) %>
</div>